
<h1><span class="badge bg-secondary">CREATE A NEW TEAM</span></h1>
<form [formGroup]="createTeam" (ngSubmit)="registerTeam()">
    <div class="mb-3">
        <label for="team-name" class="form-label">Team Name</label>
        <input type="textl" class="form-control" formControlName="teamName"><br><br>
        <div class="input-group mb-3">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="addMember()">Add
                Member</button>
            <input type="number" class="form-control" formControlName="empid">
        </div>
        <div *ngIf='membersList.length > 0'>
            <ul class="list-group" *ngFor="let member of membersList">
                <li class="list-group-item">
                    {{member}}
                </li>
            </ul>
        </div>
        <div *ngIf="membersList.length == 0">No members to see</div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="createTeam.invalid">Register Team</button>
</form>