<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/admin/users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/teams" routerLinkActive="active">Teams</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/find-user" routerLinkActive="active">Find User</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/admin/create" routerLinkActive="active">Create Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/createUser" routerLinkActive="active">Create User</a>
      </li>
  </ul>
